<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- implicit dependency on Core since Analytics redirects some types from Core -->
    <package id="DT.Xamarin.FirebaseCore" version="3.4.5-alpha1" targetFramework="Xamarin.iOS" />
    <package id="DT.Xamarin.FirebaseAnalytics" version="3.6.0-alpha1" targetFramework="Xamarin.iOS" />

</packages>
